
// error
.error-1{
    text-align: center;

    h5{
        font-size: 1.6rem;
        font-weight: 700;
    }
    p{
        opacity: .6;
        padding: 1.4rem 10rem;
        line-height: 1.4;

    }
}
.error-2{
    i{
        font-size: 2.8rem;
        border: 1px solid black;
        padding: 2rem;
        border-radius: 50%;
        background-color: rgb(151, 139, 139);
        color: rgb(211, 11, 11);
        border: none;
    }
    h6{
        font-size: 1.3rem;
        padding: 1.3rem;
    }
}