// pricing
.bg-color{
    background-color: aliceblue;
    p{
        text-align: center;
        padding: 2rem 5rem;
        opacity: .8;
        line-height: 1.3;
        font-size: 1.2rem;
        font-weight: 300;

    }
}
.tag{
    text-align: center;
    margin: 4rem 0;
    border: 1px solid rgb(212, 201, 201);
    background-color:white ;
    padding: 2rem 0;
    h5{
        font-size: 1.2rem;
        font-weight: 500;
        padding-bottom: 1.2rem;
    }
    span{
        font-size: 2rem;
        font-weight: 900;
        margin: 2rem 0;
    }
    h6{
        opacity: .6;
        padding: 1.2rem;
    }
    ul{
        padding-top: 1.3rem;
    }
    li{
        padding-top: 1.3rem;
    }
    .btn-div{
        margin-top: 2rem;
    }
    
}
.question-2{
    text-align: center;
    h3{
        font-size: 1.5rem;
        font-weight: 600;
    }
    p{
        font-size: 1.2rem;
        opacity: .5;
        padding: 1.3rem 0;
    }

}
.question{
    border: 1px solid rgb(184, 169, 169);
    padding: 1.5rem 0rem;
    margin: 2rem 0;
    display: grid;
    
    h4{
        font-size: 1.5rem;
        font-weight: 400;
        padding: 1rem;

    }
    p{
        font-size: 1rem;
        line-height: 1.4;
        opacity: .6;
        padding: 1rem;
    }

}