@import "reset";
@import "general";
@import "service";
@import "pricing";
@import "about";
@import "error";
@import "contact";
@import "responsive";
body{
    line-height: 1;
}

.flex{
    display: flex;
    justify-content: space-between;
}
.heading{
    background-color:#dc3c45 ;
    color: white;
    padding: 10px 0;


    span{
        margin-left: 10px;
    }
    a{
        padding-left: 20px;
        color: white;
    }
    
}
.sub-heading{
    padding: 20px  0px;
    background-color: #f2f2f2;
    a{
        text-decoration: none;
        margin-left: 20px;
        font-size: 18px;
        font-weight: 700;
        color: black;
        text-align: center;
    }
    select{
        border: none;
        padding-left: 10px;
        font-size: 16px;
        font-weight: 700;
        background-color: #f2f2f2;
    }
    a:hover{
        background-color: #dc3c45;
        padding: 1.8rem .5rem;
        color: white;
    }
    span{
        color: #dc3c45;

    }
}

.hero {
    text-align: left;
    background: url(../assets/media/banner-1.jpg) 50% 50% no-repeat;
    width: 100%;
    background-size: cover;
    position: relative;
    padding: 3rem 0;
    height: 27rem;
    top:1rem;
    h2{
        font-size: 42px;
        font-weight: 700;
        margin-left: 12%;
        margin-top: 10%;

    
    }
    p{
        font-size: 20px;
        margin-left: 12%;
        margin-top: .5rem;
        margin-bottom: 2rem;
        
    }
}

.Service-1{
    margin-top: 5rem;
    margin-bottom: 2rem;
    
    h3{
        font-size: 2rem;
        text-align: center;
        font-weight: 700;
        
    }
    p{
        color: rgb(177, 144, 144);
        text-align: center;
        margin: 1.5rem 0;
    
    }
}

.article-0-1{
    border: 1px solid rgb(190, 174, 174);
    padding: 2rem 0;
    margin: 1rem 0;
    text-align: center;
    h4{
        // text-align: center;
        padding: .75rem 0;
        font-size: 1.5rem;
        font-weight: 700;
    }
    img{
        width: 80px;
        
        padding: 1rem 0;

    }
    p{
        margin-bottom: 2rem;
    }

}

.solution{
    text-align: center;
    padding: 2rem 0;
    background-color: rgb(247, 237, 225);
    margin: 2rem 0;
    h4{
        font-size: 2rem;
        font-weight: 600;
    }
    p{
        font-size: 1.2rem;
        margin: 2rem 0;
        opacity: 0.5;
        padding: 0 12rem;
    }
}
.team-sec{
    margin: 6rem 0;
}
.div-0-1{
    text-align: center;
    img{
        width: 100px;
    }
    h2{
        font-size:2.3rem;
        font-weight: 700;

    }
    p{
        padding: 2rem 0;
    }
}
.div-1-1{
    img{
        width: 100%;
    }
}
.best-busi{
    background-color: #dc3c45;
    padding: 2rem 0;
    color: white;
    align-items: center;
    margin: 2rem 0;
  h3  {
    font-size: 1.7rem;
    color: white;
    font-weight: 700;
    }
    p{
        font-size: 1.3rem;
        padding: 1.5rem 0;
    }
}
.request{
    padding-top: 2.5rem;
}
.leader{
    margin-top: 4rem;
    img{
        width: 100%;
    }
    h3{
        font-size: 2rem;
        padding-top: 4.5rem;
        font-weight: 700;

    }
    p{
        font-size: 1.2rem;
        line-height: 1.5;
        padding-top: 2rem;
        opacity: .5;
    }
}
.client{
    background-color: rgb(240, 232, 232);
    text-align: center;
    div{
        padding: 3rem 0;
    }
    img{
        width: 10%;
        padding: 0 1.9rem;
    filter: grayscale(100%);
    }
    img:hover{
        filter: grayscale(0%);

    }
    h3{
        font-size: 2.5rem;
        font-weight: 700;
    }
}
footer{
    background-color: rgba(52, 51, 58, 0.842);
    color: white;
    padding-top: 1.5rem;
    padding-bottom: 7rem;
    h6{
        font-size: 1.5rem;
        padding-bottom: 1rem;
        text-align: center;
    }
    span{
display: flex;
justify-content: center;
    }
}
.footer-div{
    padding: 2rem 0;
    h5{
        font-size: 1.5rem;
        padding-bottom: 1.5rem;
    }

    li{
        margin-top: 1.5rem;
        display: flex;
        justify-content: flex-start;
    }
    a{
        padding-right: 1.5rem;
        color: white;
        font-size: 1.5rem;
    }
}